
<br>
<h3 style="color:slateblue;">{{viewTitle1}}</h3>
<h3 style="color: seagreen;">{{viewTitle2}}</h3>
<h3 style="color: tomato;">{{viewTitle3}}</h3>

<br>


<form action="/adminDepartmentDeclare" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Department Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="departmentName" placeholder="Insert Department Name ">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Doctor Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="doctorName" placeholder="Insert Department Name ">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
  <a class="btn btn-secondary" href="/adminDepartmentDeclare/list"><i class="fa fa-list-alt"></i> View All</a>
</form>

<br><br>

